/* main */

.profile {
	display: flex;
}

.profile__card:first-child {
	width: 30%;
	margin-right: 20px;
}

.profile__card:last-child {
	width: 100%;
	padding: 0;
}


/* overview */

.profile__overview {
	padding: 0 15px 15px 15px;
}

.profile__overview-block {
	margin-top: 20px;
}

.profile__overview-title {
	font-size: 16px;
	margin-bottom: 10px;
}

.profile__overview-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile__overview-item {
	width: calc(50% - 7.5px);
	margin-bottom: 15px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 5px;
}

.profile__overview-item > a {
	display: block;
	padding: 15px;
	font-size: 15px;
	font-weight: 500;
	color: #3742fa;
	text-decoration: none;
}

.profile__overview-item > a:hover {
	text-decoration: underline;
}

/*.profile__overview-item:last-child,
.profile__overview-item:nth-last-child(2) {
	margin-bottom: 0;
}*/